* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    --header-mob-height: 80px;
    --btn-container-height: 80px;
}

header {
    height: var(--header-mob-height);
    background-color: white;
    position: fixed;
    width: 100%;
    margin-top: calc(var(--header-mob-height) * -1);
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - var(--header-mob-height));
}

section:first-of-type {
    margin-top: var(--header-mob-height);
}

section:nth-child(odd) {
    background-color: #f1d1d0;
}

section:nth-child(even) {
    background-color: #f4f9f9;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 0;
}

.panel1 {
    background-color: #f875aa;
}

.panel2 {
    background-color: white;
    padding: 16px;
}

.circle {
    width: calc(50vh - (var(--header-mob-height)) - (var(--btn-container-height) / 2));
    height: calc(50vh - (var(--header-mob-height)) - (var(--btn-container-height) / 2));
    background-color: white;
    border-radius: 50%;
}

p {
    margin-bottom: 16px;
}

.btn-container {
    background-color: #fbaccc;
    padding: 8px;
    margin-top: auto;
    height: var(--btn-container-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
