* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    --header-mob-height: 100px;
}

header {
    height: var(--header-mob-height);
    background-color: white;
    position: fixed;
    width: 100%;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - var(--header-mob-height));
}

section:first-of-type {
    margin-top: 100px;
}

section:nth-child(odd) {
    background-color: #f1d1d0;
}

section:nth-child(even) {
    background-color: #f4f9f9;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel1 {
    background-color: #f875aa;
    flex: 1 1 min-content;
}

.panel2 {
    flex: 1 1 0;
    background-color: white;
    padding: 16px;
}

.circle {
    width: 30vh;
    height: 30vh;
    background-color: green;
    border-radius: 50%;
}

p {
    margin-bottom: 16px;
}

.btn-container {
    background-color: #fbaccc;
    padding: 8px;
    margin-top: auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
